{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "cn"
  ],
  "tailwindStylesheet": "./src/app/globals.css"
}